{% extends "base.html" %}

{% block title %}Login - Rebox Mail{% endblock %}

{% block head %}
    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
{% endblock %}

{% block content %}
    <h2>Register</h2>
    <input type="text" id="username" placeholder="Username">
    <button onclick="register()">Register with Passkey</button>
    
    <h2>Login</h2>
    <input type="text" id="loginUsername" placeholder="Username">
    <button onclick="login()">Login with Passkey</button>
{% endblock %}

{% block scripts %}

    <script>
        const { startRegistration, startAuthentication } = SimpleWebAuthnBrowser;

        async function register() {
            const username = document.getElementById('username').value;
            
            const resp = await fetch('/generate-registration-options', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username })
            });
            const optionsJSON = await resp.json();
            console.log(JSON.stringify(optionsJSON));

            const attResp = await startRegistration({ optionsJSON });
            console.log(JSON.stringify(attResp));

            const verifyResp = await fetch('/verify-registration', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(attResp)
            });
            const completeData = await verifyResp.json();
            console.log(JSON.stringify(completeData));
        }

        async function login() {
            const username = document.getElementById('loginUsername').value;
            
            const resp = await fetch('/generate-authentication-options', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username })
            });
            const optionsJSON = await resp.json();

            const authResp = await startAuthentication({ optionsJSON });
            console.log(JSON.stringify(authResp));

            const verifyAuthResp = await fetch('/verify-authentication', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(authResp)
            });
            const completeData = await verifyAuthResp.json();
            console.log(JSON.stringify(completeData));
        }
    </script>
{% endblock %}